# Configurações do Banco de Dados
DATABASE_NAME=biblego
DATABASE_USER=biblego
DATABASE_PASSWORD=sua_senha_aqui
DATABASE_HOST=seu_host_aqui
DATABASE_PORT=5432

# Configurações da Aplicação
PORT=5000
FLASK_ENV=production